
.main-image{
  width:70%;
  margin-top: 60px;
}

h3{
  font-weight: bold;
  text-align: center;
  font-family:Impact, Charcoal, sans-serif;
}
.no-float{
  float:none;
}
p{
  font-family: "Comic Sans MS", cursive, sans-serif;
}
h1{
  font-family:"Arial Black", Gadget, sans-serif;
}
ul{
   list-style-type: none;
   margin-left:25%;
}






